*{
    box-sizing: border-box;
    font-family: "raleway";
    margin: 0;
}
/*header style*/

.header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin:0;
}
.logo_container {
 
}

.logo {
    width:150px;
}
.navigation {
    display:flex;
    justify-content:center;
    margin-top:2rem;
}

.nav_list{
    display: flex;
    justify-content:center;
    text-align: center;
    align-items:center;
    padding-bottom:15px;
    border-bottom: 3px solid;
    border-block-color: #F2F2F2;
}

.nav_item {
list-style:none;
}

.header_link:hover {
    border-bottom: 3px solid;
    border-bottom-color: #0065FC;
    border-top:none;
    padding: 15px 20px;
}


.header_link:link {
    text-decoration: none;
    padding: 15px 20px;
}

.header_link:visited {
    text-decoration: none;
    color:inherit;
    padding: 15px 20px;
}

.header_link:active {
    border-bottom: 3px solid;
    border-bottom-color: #0065FC;
    border-top:none;
    padding: 15px 20px;
} 

.header_link2:hover {
    border-bottom: 3px solid;
    border-bottom-color: #0065FC;
    border-top:none;
    padding: 15px 40px;
}


.header_link2:link {
    text-decoration: none;
    padding: 15px 40px;
}

.header_link2:visited {
    text-decoration: none;
    color:inherit;
    padding: 15px 40px;
}

.header_link2:active {
    border-bottom: 3px solid;
    border-bottom-color: #0065FC;
    border-top:none;
    padding: 15px 40px;
}

/*search bar style*/

.search_countainer {
display:flex;
flex-direction: row;

}