*{
    box-sizing: border-box;
    font-family: "raleway";
    margin: 0;
}
/*header style*/

.header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin:0;
}
.logo_container {
 
}

.logo {
    width:150px;
}
.navigation {
    display:flex;
    justify-content:center;
    margin-top:2rem;
}

.nav_list{
    display: flex;
    justify-content:center;
    text-align: center;
    align-items:center;
    padding-bottom:15px;
    border-bottom: 3px solid;
    border-block-color: #F2F2F2;
}

.nav_item {
list-style:none;
}

.header_link:hover {
    border-bottom: 3px solid;
    border-bottom-color: #0065FC;
    border-top:none;
    padding: 15px 20px;
}


.header_link:link {
    text-decoration: none;
    padding: 15px 20px;
}

.header_link:visited {
    text-decoration: none;
    color:inherit;
    padding: 15px 20px;
}

.header_link:active {
    border-bottom: 3px solid;
    border-bottom-color: #0065FC;
    border-top:none;
    padding: 15px 20px;
} 

.header_link2:hover {
    border-bottom: 3px solid;
    border-bottom-color: #0065FC;
    border-top:none;
    padding: 15px 40px;
}


.header_link2:link {
    text-decoration: none;
    padding: 15px 40px;
}

.header_link2:visited {
    text-decoration: none;
    color:inherit;
    padding: 15px 40px;
}

.header_link2:active {
    border-bottom: 3px solid;
    border-bottom-color: #0065FC;
    border-top:none;
    padding: 15px 40px;
}

/*search bar style*/

.search_section {
    margin :2rem;
    }
    .h1{
        font-weight:bolder;
    }
    .title1 p{
        margin-top:10px;
    }
    
    .search_countainer {
        width:100%;
        height: auto;
        display:flex;
        flex-direction: row;
        margin-top:2rem;
        }
    
    .pin_icon {
        padding:10px 10px;
        background-color : #f2f2f2;
        padding: 15px 20px;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        
    }
    
    .search_bar {
    
        border: 1px solid;
        border-color: #f2f2f2;
        padding: 15px 15px;
    
    
    }
    
    input {
        border:0;
    }
    
    .search_button {
        display:none;
        background-color:#0065FC;
        border-color: transparent;
        color:#f2f2f2;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
    }

    .search_mobile {
        display:flex;
        align-items:center;
        background-color:#0065FC;
        border-color: transparent;
        color:#f2f2f2;
        padding-right: 15px;
        padding-left:15px;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;    
    }


/*Filters Style*/

.filters {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: flex-start;
    align-items:baseline;
    font-weight: bold;
    margin: 0;
    padding-left:20px;
    
}

.filters p {
    margin-left:20px;
}

.filter_text {
    display: flex;
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid;
    border-left:none;
    border-color:#f2f2f2;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    padding-top:17px;
    padding-bottom:17px;
    font-weight: bolder;
    
    
    
}


.filter1, .filter2, .filter3, .filter4  {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-top: 2rem;

}

.filter1 p, .filter2 p, .filter3 p, .filter4 p {
    padding-left:0px;
    
}

.dollar_icon, .family_icon, .heart_icon, .dog_icon {
    padding : 19px 19px;
    background-color:#DEEBFF;
    color:#0065FC;
    border-radius: 35px;
    margin-left:12px;
    position: absolute;
    
}

.family_icon {
    padding: 20px 23px;
}