*{
    box-sizing: border-box;
    font-family: "raleway";
    s

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo_container {
  
    display: flex;
    justify-content: center;
    align-items: center;

}

.logo {
    width:150px;

}

.nav_list{
    display: flex;
    justify-content:space-between;
    align-items:center;

}

.nav_item {
list-style:none;
margin-right:1rem;
padding-right: 1rem;
}


.header_link:hover {
    border-top:3px solid;
    border-top-color: #0065FC;
    padding: 15px 20px;
}


.header_link:link {
    text-decoration: none;
    padding: 15px 20px;
}

.header_link:visited {
    text-decoration: none;
    color:inherit;
    padding: 15px 40px;
}


.header_link2:hover {
    border-top:3px solid;
    border-top-color: #0065FC;
    padding: 15px 40px;
}


.header_link2:link {
    text-decoration: none;
    padding: 15px 40px;
}

.header_link2:visited {
    text-decoration: none;
    color:inherit;
    padding: 15px 40px;
}

/*search bar style*/

.search_section {
margin :2rem;
}
.h1{
    font-weight:bolder;
}
.title1 p{
    margin-top:10px;
}

.search_countainer {
    width:100%;
    height: auto;
    display:flex;
    flex-direction: row;
    margin-top:2rem;
    }

.pin_icon {
    padding:10px 10px;
    background-color : #f2f2f2;
    padding: 15px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.search_bar {

    border: 1px solid;
    border-color: #f2f2f2;
    padding: 15px 15px;


}

input {
    border:0;
}

.search_button {
    background-color:#0065FC;
    border-color: transparent;
    color:#f2f2f2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search_mobile {
    display:none;
    background-color:#0065FC;
    border-color: transparent;
    color:#f2f2f2;
    padding-right: 15px;
    padding-left:15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}

.search_img {
    color:#f2f2f2;
}

/*Filters Style*/

.filters {
    display: flex;
    font-weight: bold;
    margin-left:2rem;
    
}

.filter_text {
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid;
    border-left:none;
    border-color:#f2f2f2;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    margin-right: 2rem;
    margin-left:45px;
    padding-top:2px;
    font-weight: bolder;
     
}

.filter1 p, .filter2 p, .filter3 p, .filter4 p {
    padding-left:10px;
 
}

.dollar_icon, .family_icon, .heart_icon, .dog_icon {
    padding : 19px 19px;
    background-color:#DEEBFF;
    color:#0065FC;
    border-radius: 45px;
    margin-left:12px;
    position: absolute;
    
}

.family_icon {
    padding: 20px 23px;
}

/*Available Style*/

.avalaible {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left:2rem;
    margin-top:1rem;
}

.icon_info {
    margin-right : 15px;
    color:#0065FC;
}