*{
    box-sizing: border-box;
    font-family: "raleway";

}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.logo_container {
  
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top10px;
    margin-left:20px;

}

.logo {
    width:150px;

}

.nav_list{
    display: flex;
    justify-content:space-between;
    align-items:center;
    margin-top:10px;

}

.nav_item {
list-style:none;
margin-right:1rem;
padding-right: 1rem;
}

.nav_item:hover {
    color:#0065FC;
    }

.header_link:hover {
    
    border-top:3px solid;
    border-top-color: #0065FC;
    
}


.header_link:link {
    text-decoration: none;
    padding: 15px 20px;
}

.header_link:visited {
    text-decoration: none;
    color:inherit;
    padding: 15px 40px;
}


.header_link2:hover {
    
    border-top:3px solid;
    border-top-color: #0065FC;
    
}


.header_link2:link {
    text-decoration: none;
    padding: 15px 40px;
}

.header_link2:visited {
    text-decoration: none;
    color:inherit;
    padding: 15px 40px;
}

/*search bar style*/

.search_section {
margin :2rem;
}
.h1{
    font-weight:bolder;
}
.title1 p{
    margin-top:10px;
}

.search_countainer {
    width:100%;
    height: auto;
    display:flex;
    flex-direction: row;
    margin-top:2rem;
    }

.pin_icon {
    padding:10px 10px;
    background-color : #f2f2f2;
    padding: 15px 20px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    
}

.search_bar {

    border: 1px solid;
    border-color: #f2f2f2;
    padding: 15px 15px;


}

input {
    border:0;
}

.search_button {
    background-color:#0065FC;
    border-color: transparent;
    color:#f2f2f2;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}

.search_mobile {
    display:none;
    background-color:#0065FC;
    border-color: transparent;
    color:#f2f2f2;
    padding-right: 15px;
    padding-left:15px;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;    
}

.search_img {
    color:#f2f2f2;
}

/*Filters Style*/

.filters {
    display: flex;
    font-weight: bold;
    margin-left:2rem;
    
}

.filter_text {
    padding-left: 2rem;
    padding-right: 2rem;
    border: 2px solid;
    border-left:none;
    border-color:#f2f2f2;
    border-top-right-radius:30px;
    border-bottom-right-radius:30px;
    margin-right: 2rem;
    margin-left:45px;
    padding-top:2px;
    font-weight: bolder;
     
}

.filter1 p, .filter2 p, .filter3 p, .filter4 p {
    padding-left:10px;
 
}

.dollar_icon, .family_icon, .heart_icon, .dog_icon {
    padding : 19px 19px;
    background-color:#DEEBFF;
    color:#0065FC;
    border-radius: 45px;
    margin-left:12px;
    position: absolute;
    
}

.family_icon {
    padding: 20px 23px;
}

/*Available Style*/

.avalaible {
    display:flex;
    flex-direction: row;
    align-items: center;
    margin-left:2rem;
    margin-top:1rem;
}

.icon_info {
    margin-right : 15px;
    color:#0065FC;
}

/*Section Accomodation Style*/
.accomodations {
    display:flex;
    flex-direction:row;
    flex-wrap:nowrap;
    justify-content: space-around;
    align-items:flex-start;
}

/*Hébergements Style*/

.hotels {
    background-color: #F2F2F2;
 width: 70%;
 margin:20px;
 border-radius: 30px;
 padding-top:0px;
 padding-bottom:25px;
}

.hotels h2{
    margin:20px;
    padding-left: 15px;
}

.all_hotels_cards{
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin:10px;
    padding-top:25px;
}


/*Cards Style*/

.card {
    width: 30%; /*1*/
    margin-bottom: 30px; /*2*/
    margin-right:10px;
    padding:5px;
    border-radius: 20px;
    background-color: white; /*3*/
    box-shadow: 0px 5px 10px rgb(208, 207, 207); /*4*/
  }

  .card-body {
    
    padding-bottom: 10px;
    margin: 0;

  }
.card-title h3{
    
    margin:auto;
    padding:10px;
    font-size: 18px;;
    
}

.card-price p{
    margin:0;
    font-size: 14px;
    padding-bottom:10px;
    padding-left:10px;

}
.price {
    font-weight: bold;
}

.card-rate {
    color:#0065FC;
    padding-left:10px;
}

#gray_star {
color: lightgray;
}
  .card a { /*5*/
    color: #333; 
    text-decoration: none;
  }

  .card a:hover { /*5*/
    color:#0065FC; 
    text-decoration: none;
  }

  .card:hover .card-image img { /*6*/
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .card-image {
    height: 100px;/*1*/
    position: relative;/*2*/
    overflow: hidden;/*3*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;

  }
  .card-image img {
    width: 100%;/*4*/
      /*5 - Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }



  .show_more {
    margin:40px;
    color:#333;
    text-decoration: none;
    font-weight: bold;
  }
/*Popular Style*/

.popular_hotels {
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 30%;
    margin:20px;
    padding-bottom:30px;
    
}

.popular_hotels h2 {
padding-bottom:15px
}

.all_popular_cards{

    display:flex;
    flex-direction:column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.popular_title{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right:30px;
    padding-left:30px;
}
/*Popular Cards Style*/

.card_popular {
    width: 85%; /*1*/
    margin-top:10px;
    margin-bottom:28px; /*2*/
    padding:5px;
    border-radius: 20px;
    background-color: white; /*3*/
    box-shadow: 0px 5px 10px #e3e3e3; /*4*/
    
  }

  .card-popular-body {
    
    margin: 0;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right:5px;

  }
.card-popular-title h3{
    margin:0;
    padding-bottom:10px;
    margin-right:45px;
    padding-top: 10px;
    font-size: 16px;
    word-wrap: break-word;
}
.card_popular_text {
    padding-right:5px;
    padding-left:10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.card-popular-price p{
    margin:0;
    padding-bottom:25px;
    font-size: 14px;

}
.price {
    font-weight: bold;
}

.card-popular-rate {
    
    color:#0065FC;
}

#gray_star {
color: lightgray;
}
.popular_image_container {
    display: flex;
}
  .card_popular a { /*5*/
    color: #333; 
    text-decoration: none;
  }

  .card_popular a:hover { /*5*/
    color:#0065FC; 
    text-decoration: none;
  }

  .card_popular:hover .card-popular-image img { /*6*/
    width: 140%;
    height:100%;
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    object-fit:initial;
  }

  .card-popular-image {
    height: 120px;/*1*/
    width:120px;
    overflow: hidden;/*3*/
  }
  .card-popular-image img {
    width: 140%;/*4*/
    height:100%;
      /*5 - Méthode de centrage en fonction de la taille de l'image */
    border-bottom-left-radius: 20px;
    border-top-left-radius: 20px;
    object-fit:initial;
  }

  /*Activities Style*/

  .activities-title h2{
    margin-left:50px;
    margin-top:50px;
  }
  .activities_cards{
    display:flex;
    flex-direction: row;;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items:flex-start;
    margin:10px;
    padding-top:0px;
    margin-bottom:20px;
}

.activity1, .activity2, .activity3, .activity4, .activity5, .activity6  {
    width: 120%; /*1*/
    margin-top:10px;
    margin-bottom:28px; /*2*/
    padding:5px;
    background-color: white; /*3*/
    box-shadow: 0px 5px 10px #e3e3e3; /*4*/
    border-radius: 20px;
    margin-right:0;
    margin-left:0;
    }

    .activity1 h3, .activity2 h3, .activity3 h3, .activity4 h3, .activity5 h3, .activity6 h3{
        margin-left:10px;
        font-size: 16px;;
    } 
  
.activity1, .activity4 {
    width:20%;
}

.activity2_3, .activity5_6 {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    width:20%;
}

.activity3 {
    margin-top:5px;
}


.activities_images_small {
    height: 100px;/*1*/
    position: relative;/*2*/
    overflow: hidden;/*3*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;}

.activities_images_small img{
    width: 100%;/*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activities_images_medium {
    height: 150px;/*1*/
    margin:0;
    position: relative;/*2*/
    overflow: hidden;/*3*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;}
    
.activities_images_medium img{
    width: 150%;/*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} 

.activities_images_long {
    height: 400px;/*1*/
    margin:0;
    position: relative;/*2*/
    overflow: hidden;/*3*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;}
        
.activities_images_long img{
    width: 250%;/*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.activities_images_fort {
    height: 205px;/*1*/
    margin:0;
    position: relative;/*2*/
    overflow: hidden;/*3*/
    border-top-left-radius: 20px;
    border-top-right-radius: 20px ;
}

.activities_images_fort img {
    width: 150%;/*4*/
    /*5 - Méthode de centrage en fonction de la taille de l'image */
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%)
}

/*Footer Style*/

.footer {
    background:#F2F2F2;
    margin-top:30px;
    padding-top:30px;
    padding-bottom:20px;
    display:flex;
    flex-direction:row;
    justify-content:flex-start;
    align-items: flex-start;
}

.footer_menu{
    padding-left:0;
    list-style:none;
}

.about h3, .our_hotels h3, .help h3{
    font-size:16px;
}

.about, .our_hotels, .help{
    margin-right:280px;
}

.about {
    margin-left: 50px;
}

.footer_item {
    
    margin-top:10px;
    font-size:13px;
}

.footer_link:visited, .footer_link:link, .footer_link:hover {
    text-decoration:none;
    color:#333
    
    
}

